Redirect 301 /working/SJH_TheoryOfIdentities.pdf https://www.sethjhill.com/working/SJH_TheoryOfPoliticalAction.pdf
Redirect 301 /working/SJH_PrimaryReform.pdf https://www.sethjhill.com/working/SJH_Sidestepping.pdf
